.statistic {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.statistic svg {
  width: 231px;
  height: 168px;
}

.statistic svg path {
  transition: fill 0.2s ease;
}

.statistic p {
  width: 352px;
  height: 72px;
  text-align: center;
  color: var(--neutral-800);
}